<!doctype html>
<html lang="en">
  <head>
    <title>Gambrinus MENU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700,800|Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    

    <div class="site-wrap">
      <div class="main-wrap">
        <div class="cover_1 cover_sm">
            <div class="section">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-8" data-aos="fade-up">
                    <%- include('partials/header'); %>    
                    <ul class="nav site-tab-nav" id="pills-tab" role="tablist" style="text-align: center;">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-starters-tab" data-toggle="pill" href="#pills-starters" role="tab" aria-controls="pills-starters" aria-selected="true">starters</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-seafood-tab" data-toggle="pill" href="#seafood" role="tab" aria-controls="pills-seafood" aria-selected="false">seafood</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-fish-tab" data-toggle="pill" href="#fish" role="tab" aria-controls="pills-fish" aria-selected="false">fish</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-meat-tab" data-toggle="pill" href="#meat" role="tab" aria-controls="pills-meat" aria-selected="false">meat</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-others-tab" data-toggle="pill" href="#others" role="tab" aria-controls="pills-others" aria-selected="false">others</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-starters" role="tabpanel" aria-labelledby="pills-starters-tab"style="text-align: center;color: white;">
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Gambrinus Salad</h2>
                            <p">Cucumber, tomato, lettuce, onion and fetta cheese on top</p>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('salad_gambrinus')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Gambrinus Chips</h2>
                            <p>Diced potatoes with fetta cheese on top</p>
                            <p>Options: cheese on top, cheese on the side, cheese only on half</p>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('chips_gambrinus')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Boiled potato(skin-on) with creamy mushroom sauce</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('mukram')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Mushroom with creamy cheese sauce</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('pitriyot')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Gambrinus Toast / Toast with toppings</h2>
                            <p> Optional toppings : tomato ,fetta cheese ,mushroom, onion</p>
                            <p>*up to 3 toppings</p>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('toast')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                      </div>
                      <div class="tab-pane fade" id="seafood" role="tabpanel" aria-labelledby="pills-seafood-tab" style="text-align: center;color: white;">
                        
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Fried breaded shrimp/calamri mix</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('mix')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
    
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Cooked shrimp (shell on) 500 gr'</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('mevushal')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <i class="icon" aria-hidden="true"></i>                          
                            <h2>Garlic butter shrimps</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('mahvat')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Grilled Spicy shrimp/calamri </h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('shipudim')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Fried breaded shrimps </h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('metugan')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Fried breaded calamari</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('kalamari')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Boiled crab 1 kg </h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('krab')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Crayfish 1 kg</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('raki')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
    
                      </div>
                      <div class="tab-pane fade" id="fish" role="tabpanel" aria-labelledby="pills-fish-tab"style="text-align: center;color: white;">
                        
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Fried sea bream </h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('denis')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Oven baked sea bream</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('denis')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Fried small sea fish 500 gr'</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('bananot')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Oven baked smoked trout</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('forel')].price %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        </div>
                        <div class="tab-pane fade" id="meat" role="tabpanel" aria-labelledby="pills-meat-tab"style="text-align: center;color: white;">
                        
                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Butchers steak 500 gr'</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('netah')].price %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->
                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Aged Argentinian Entrecote 350/650 gr'</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('entrecote_boded')].price%>/<%=pr[pr.map(function (index) { return index.product }).indexOf('entrecote_kaful')].price %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->
  
                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Oven roasted Entrecote 350/650 gr'</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('entrecote_boded')].price%>/<%=pr[pr.map(function (index) { return index.product }).indexOf('entrecote_kaful')].price %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->
  
                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Grilled Spareribs 900 gr'</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('spareribs')].price%>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->

                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Pork shoulder steam 700 gr'</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('lavan')].price %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->

                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Oven roasted pork fillet 450/950 gr' </h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('file_boded')].price%>/<%=pr[pr.map(function (index) { return index.product }).indexOf('file_kaful')].price %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->
                          
                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Lamb chops 500 gr'</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('keves')].price %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->

                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Grilled lamb irish sausages</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('naknikiyot')].price %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->

                          </div>

                          <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="pills-others-tab"style="text-align: center;color: white;">
                            
                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <i class="icon" aria-hidden="true"></i>                          
                                <h2>Ceaser - JAMESON</h2>
                              </div>
                              <div class="price order-2">
                                <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('jameson')].price %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Beer 0.3/0.5</h2>
                              </div>
                              <div class="price order-2">
                                <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('beer_0.3')].price %>/<%= pr[pr.map(function (index) { return index.product }).indexOf('beer_0.5')].price %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Cold Drinks</h2>
                                <p>Coca-Cola, Coca-Cola Zero, 7up, 7up zero, Miranda, soda, Tonic, Heineken 0%</p>
                                <p>Mineral water,Orange(prigat),lemonade(prigat),cranberry,tomato</p>
                              </div>
                              <div class="price order-2">
                                <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('kala')].price %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Hot Drinks</h2>
                                <p>Espresso, Tea (lemon,mint) </p>
                              </div>
                              <div class="price order-2">
                                <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('hama')].price %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->
                            
                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Irish Coffee</h2>
                                <p> Espresso with irish liquor </p>
                              </div>
                              <div class="price order-2">
                                <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('irish_coffee')].price %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Walnut cream pie / Nutella sponge cake</h2>
                              </div>
                              <div class="price order-2">
                                <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('nutella')].price %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Ben and Jerry's ice cream</h2>
                              </div>
                              <div class="price order-2">
                                <strong><%= pr[pr.map(function (index) { return index.product }).indexOf('glida')].price %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%- include('partials/footer'); %>

      
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>

    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>

    <script src="js/aos.js"></script>
    

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>

    <script src="js/main.js"></script>
  </body>
</html>