<!doctype html>
<html lang="en">
  <head>
    <title>Gambrinus MENU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700,800|Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    

    <div class="site-wrap">
      <div class="main-wrap">
        <div class="cover_1 cover_sm">
            <div class="section">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-8" data-aos="fade-up">
                    <%- include('partials/header'); %>
                    <ul class="nav site-tab-nav" id="pills-tab" role="tablist" style="text-align: center;">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-starters-tab" data-toggle="pill" href="#pills-starters" role="tab" aria-controls="pills-starters" aria-selected="true">закуски</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-seafood-tab" data-toggle="pill" href="#seafood" role="tab" aria-controls="pills-seafood" aria-selected="false">морепродукты</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-fish-tab" data-toggle="pill" href="#fish" role="tab" aria-controls="pills-fish" aria-selected="false">Рыба</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-meat-tab" data-toggle="pill" href="#meat" role="tab" aria-controls="pills-meat" aria-selected="false">мясо</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-others-tab" data-toggle="pill" href="#others" role="tab" aria-controls="pills-others" aria-selected="false">Другой</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-starters" role="tabpanel" aria-labelledby="pills-starters-tab"style="text-align: center;color: white;">
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Салат Гамбринус</h2>
                            <p">огурец, помидор, листья салата, лук и болгарский сыр</p>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.salad_gambrinus %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Чипсы Гамбринус</h2>
                            <p>Картофель нарезанный кубиками с болгарским сыром сверху </p>
                            <p>Варианты: сыр сверху, сыр на стороне, сыр только на половину </p>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.chips_gambrinus %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Картофель в "мундире" с грибным соусом В печи</h2>
                            <p></p>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.mukram %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Грибы в сливочном соусе с сыром</h2>
                            <p></p>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.pitriyot %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Тост гамбринус/Тост с добавками</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.toast %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                      </div>
                      <div class="tab-pane fade" id="seafood" role="tabpanel" aria-labelledby="pills-seafood-tab" style="text-align: center;color: white;">
                        
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Микс креветки и кальмары</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.mix %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
    
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Креветки варёный 500 г</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.mevushal %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <i class="icon" aria-hidden="true"></i>                          
                            <h2>Креветки в чесночном соусе</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.mahvat %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Креветки кальмары на вертеле ״острый״</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.shipudim %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Креветки в сухарях жареные во фритюре</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.metugan %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Кальмары в сухарях жареный во фритюре</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.kalamari %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Крабы морские варёный 1 кг</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.krab %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Раки 1 кг</h2>
                            <p> </p>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.raki %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
    
                      </div>
                      <div class="tab-pane fade" id="fish" role="tabpanel" aria-labelledby="pills-fish-tab"style="text-align: center;color: white;">
                        
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Дэнис во фритюре</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.denis %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Дэнис в печи</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.denis %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Жареный морские рыбки 500 г</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.bananot %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->

                        <div class="d-block d-md-flex menu-food-item">
                          <div class="text order-1 mb-3">
                            <h2>Форель копчёный в печи 500 г</h2>
                          </div>
                          <div class="price order-2">
                            <strong><%= price.forel %>₪</strong>
                          </div>
                        </div> <!-- .menu-food-item -->
                        </div>
                        <div class="tab-pane fade" id="meat" role="tabpanel" aria-labelledby="pills-meat-tab"style="text-align: center;color: white;">
                        
                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Телятина вырезка 500 г</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= price.netah %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->
                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Телятина Антрекот 350/650г</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= price.boded %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->
  
                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Антрекот в печи 350/650г</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= price.boded %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->
  
                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Рёбрышки свиные сперибс 900 г</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= price.spareribs %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->

                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Свиная шейная часть 700 г</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= price.lavan %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->

                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Филе свиной в печи 450/950г</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= price.file %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->
                          
                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Рёбрышки бараний 500 г</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= price.file %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->

                          <div class="d-block d-md-flex menu-food-item">
                            <div class="text order-1 mb-3">
                              <h2>Колбаски из баранины "На гриле"</h2>
                            </div>
                            <div class="price order-2">
                              <strong><%= price.naknikiyot %>₪</strong>
                            </div>
                          </div> <!-- .menu-food-item -->

                          </div>

                          <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="pills-others-tab"style="text-align: center;color: white;">

                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <i class="icon" aria-hidden="true"></i>                          
                                <h2>Чейсер JAMESON</h2>
                              </div>
                              <div class="price order-2">
                                <strong><%= price.jameson %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Пиво 0.3/0.5</h2>
                              </div>
                              <div class="price order-2">
                                <strong><%= price.beer %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Холодный напитки</h2>
                                <p>Coca-Cola, Coca-Cola Zero, 7up, 7up zero, Miranda, содовая, Tonic, Heineken 0%</p>
                                <p>Без газа: Апельсиновый (пригат),клюквенный,лимонад (пригат),Томатный,Минеральная вода. </p>
                                <p>Все соки не выжатые и подаются в стакане.</p>
                              </div>
                              <div class="price order-2">
                                <strong><%= price.kala %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Горячие напитки</h2>
                                <p>Эспрессо ,Чай (мята,лимон)</p>
                              </div>
                              <div class="price order-2">
                                <strong><%= price.hama %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->
                            
                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Айриш кофе</h2>
                                <p>Эспрессо с ирландским Ликёром</p>
                              </div>
                              <div class="price order-2">
                                <strong><%= price.irish_coffee %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Ореховый пай / нутелла торт</h2>
                              </div>
                              <div class="price order-2">
                                <strong><%= price.nutella %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            <div class="d-block d-md-flex menu-food-item">
                              <div class="text order-1 mb-3">
                                <h2>Мороженое Ben & Jerry's</h2>
                              </div>
                              <div class="price order-2">
                                <strong><%= price.glida %>₪</strong>
                              </div>
                            </div> <!-- .menu-food-item -->

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%- include('partials/footer'); %>

      
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>

    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>

    <script src="js/aos.js"></script>
    

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>

    <script src="js/main.js"></script>
  </body>
</html>